@CHARSET "ISO-8859-1";

.header{
	height:inherit;
}

#header_top{
	height: 45%;
}

#header_bottom{
	height: 30%;
}

#logo{
    height: 100%;
    width: 30%;
    float: left;    
}

#profile{
    height: 90%;
    width: 30%;
    float: right;
    margin-top: 12px;
    margin-right:12px;
    text-align:right;
}


.header_flags img{
	margin-left: 0.3em;   
}

.header_flags img:hover{
	cursor:pointer;
}
