/* MAIN MENU */

.menu_bar {	width: auto; height: 6ex; padding: 6px;	margin: 0 0 30px 0; list-style: none outside none; background: #EEEEEE no-repeat left top;}

.menu_bar ul { background: none no-repeat scroll left top #FCFCFC; border: 1px solid #ddd; height: inherit; list-style: none outside none;  width: auto;}

.menu_bar li {float: left;	height: inherit;	border-right: 1px solid #ddd;}

.menu_bar li a {display: block;	float: left;	height: inherit;	font-weight: bold;	line-height: 37px;	text-decoration: none;	color: #646464;	padding: 0 20px;}

.menu_bar li.logout {float: right;	border-left: 1px solid #ddd;	border-right: none;}

.menu_bar li:hover {cursor: pointer;}

.menu_bar li a.active, .menu_bar li a.active {background: #EF7900 repeat-x left top;color: #FCFCFC;}

