@CHARSET "ISO-8859-1";

html{overflow-y:scroll;}

body {
/* 	background: white;
	font-family: Arial, Helvetica, sans-serif; */
	background: #F6F4F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
}

.container {
	text-align: left;
	width: 1024px;
	margin: 0 auto;
}


#header{
	/* height:140px */
	height:inherit;
}

#holder_container{	
	background-color: #EEEEEE;
	padding: 6px;
}

#left_container {
	background-color: #FCFCFC;
    display: inline-block;
    margin: 0.25em;
    width: 17%;
	float: left;
}


#body_container {
     background-color: #FCFCFC;
    border: 1px solid #DDDDDD;
    display: inline-block;
    margin: 0.25em;
    min-height: 500px;
    width: 81.3%;
}

#body_container_single {
     background-color: #FCFCFC;
    border: 1px solid #DDDDDD;
    display: inline-block;
    margin: 0.25em;
    min-height: 500px;
    width: 99.5%;
}
#footer{
	height:50px;
}
.label_bold{
	font-weight: bold;
}

/*----------------------------------------------------------- */
/*------------------------- FOOTER -------------------------- */
/*----------------------------------------------------------- */
.footer {
	height: inherit;
}

.footer_header {
	height: 20%;
}

.footer_container {
	text-align: justify;
	line-height: 1.3em;
	font-size: 0.8em;
	margin-bottom: 1em;
}

.footer_img {
	height: 5em;
}

.footer_container_img_left {
	float: left;
}

.footer_container_img_right {
	float: right;
	margin-right: 6em;
	margin-top: 0.5em;
}

.footer_container_center {
	float: left;
	margin-top: 1em;
	width: 60%;
}

.footer_ico {
	height: 2em;
}

/*----------------------------------------------------------- */
/*------------------------ MENU BAR ------------------------- */
/*----------------------------------------------------------- */
/*---------------- recursos/css/menu_bar.css ---------------- */
/*----------------------------------------------------------- */

/*----------------------------------------------------------- */
/*------------------------ SIDE BAR ------------------------- */
/*----------------------------------------------------------- */
.sidebar { border: 1px solid #DDDDDD; min-height: 500px; width: 100%;}

.sidebar ul {width: 100%;  list-style: none none none; }

.sidebar ul li {border-bottom: 1px solid #ddd; width: 100%; }

.sidebar ul li a {display: block;	color: #646464;	background: #f6f6f6; text-decoration: none;	height: 29px; line-height: 29px; padding: 0 10%; width: 80%;}

.sidebar ul li a.active, #sidebar .sideNav li a.active:hover {background: #eeeeee;	color: #454545; font-weight: bold}

/*----------------------------------------------------------- */
/*------------------------ TABLE2 ------------------------- */
/*----------------------------------------------------------- */
table tr{
	line-height: 2
}

table  tr.even:hover td, table tr.even:hover td.sorting_1{
    background: #EF7900;
    color: #FCFCFC; 
   
    cursor: pointer;
}
 
table  tr.odd:hover td, table tr.odd:hover td.sorting_1{
     background: #EF7900;
    color: #FCFCFC; 
    cursor: pointer;
}

.row_selected{
	background: red;
}

/* .dataTables_filter {
    float: left;
    text-align: left;
    width: 100%;
} */

/*----------------------------------------------------------- */
/*------------------------- MAIN BODY  ---------------------- */
/*----------------------------------------------------------- */
#body_home{
	float:right;	
	width:100%;
}

#body_registration{
	margin:auto;
	width:100%;
}

#body_home_container{
	margin: 1.5em;
    width: 96%;	
}

.container_left{
	width:30%;
}

.caja {
    background-color: #EEEEEE;    
    margin-bottom: 2em;
    padding: 2em;
}
.caja .form-row{
	line-height: 3;
}

.caja .form-row label {
    display: inline-table;
    width: 20%;
    vertical-align: top;
}

.caja .form-row label:last-child {
    width: 40%
}
.caja .form-row textarea{
	margin-top: 0.5em;
	width:78%
}

.subcaja{
	border: 1px solid #DDDDDD;
    display: inline-block;
    height: auto;
    margin-bottom: 2em;
    padding-bottom: 1ex;
    padding-top: 1ex;
    width: 100%;
}

.doble_row{
	width: 48%;	
	margin: auto;
}


.single_row{
	width: 90%;	
	margin: auto;
}


.caja .doble_row .form-row label {
    display: inline-table;
    width: 28%;
    vertical-align: top;
}

.caja .doble_row .form-row label:last-child {
    width: 40%
}
.caja .doble_row .form-row  textarea, .caja .doble_row .form-row input{
	margin-top: 0.5em;
	width:65%
}


.caja .doble_row:last-child{
	float: right;
}

.caja .subcaja:last-child{
	
    margin-bottom: 0em;
}

.caja .subcaja > h1 {
    float: left;
    padding: 1ex;
}
.caja .subcaja fieldset{
	margin: 0 0.5em 0.3em 1em;
}


/*----------------------------------------------------------- */
/*-------------------------- TABLES ------------------------- */
/*----------------------------------------------------------- */

 table.simple_button a{
 	line-height: 1;  	
 }
 table.simple_button thead th div.DataTables_sort_wrapper {
 	display: inline-block;  	
 }
 
 .ui-widget-header {
  
   border: 1px solid #D6D6D6;
   color: #222222;
   font-weight: bold;
 }
 
 
table.display tr.odd.row_selected td {
    background-color: #FF9A21;
    color: #FCFCFC; 
}

.table_cross_remove{
	text-align: center;
	vertical-align: sub;
	cursor:alias;
}

.table_cross_remove img{
	vertical-align: sub;
	
}
.table_field_center{
	text-align: center;
}

/*----------------------------------------------------------- */
/*-------------------------- CALENDAR ----------------------- */
/*----------------------------------------------------------- */

 #wrap {
	width: 100%;
	margin: 0 auto;
	}
	
#external-events {
	float: left;
	width: 15%;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
	}
	
.external-event { 
	margin: 1em 0;
	padding: 2px 4px;
	background: #646464;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	background: none repeat scroll 0 0 #EF7900;
	}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
	}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
	}

#calendar {
	float: right;
	width: 80%;
	}
	
.fc-event{
	background: #EF7900 !important; 
	border: 1px solid #EF7900 !important;
}

.fc-view{
	overflow: visible !important;
}
	
.calendar-trash {
    cursor: pointer;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}

.calendar-to-trash{
  background-color:#EAEAEA;
    -webkit-border-radius: 5em;
    border-radius: 5em;
}

.calendar-trash-img {
    width: 92%
}

/*----------------------------------------------------------- */
/*------------------------- BUTTONS ------------------------- */
/*----------------------------------------------------------- */


.button{
	background-color: #FCFCFC;
	color: #646464 !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
    font-size: 10px;
    font-weight: bold;
    height: 2.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 7em;    
    text-align: center;  
    text-decoration: none;  
}

.button:hover{
	border-color: #EF7900;
	box-shadow: 1px 1px 1px 0.1px #ccc;	
	cursor:pointer;
}

.button span, .button_submit span{
	display: inherit;
    padding-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
   
}

.button_submit{
	background-color: #EF7900;
    border: 1px solid  #FCFCFC;
    color: #FCFCFC !important;
    float: right;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    height: 2.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width: 7em;
    text-align: center;
    text-decoration: none;
}
.button_submit:hover{
	border-color:#EF7900;
	box-shadow: 1px 1px 1px 0.1px #ccc;	
	background-color: #FCFCFC;
	color:#646464 !important;
	cursor:pointer;
}

.lbox-button{
	background: transparent !important;
	font-family: arial !important;
    font-weight: bold !important;
    color: #646464 !important;
    font-size: 10px !important;
	
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.lbox-button:hover{
	border-color: #FF7400 !important;
}

/*----------------------------------------------------------- */
/*------------------------ LIGHT BOX ------------------------ */
/*----------------------------------------------------------- */


/* Resultados de formulario lightbox width--- */
.lBox  {
	 
	padding-right:0; 
	padding-left:0;
	background: transparent !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	text-align: center;
	}
.lBox .results-form, .lBox .results-form2{padding:1em 0 1em 1em}
.lBox .results-form li.linea-unica, .lBox .results-form2 li.linea-unica {width:100%}
.lBox .results-form li.linea-unica strong, .lBox .results-form2 li.linea-unica strong {width:14%}
.lBox .results-form li.linea-unica span, .lBox .results-form2 li.linea-unica span {width:84%}
.lBox .results-form li span, .lBox .results-form2 li span {width:64%}


.lBox .mensaje {line-height:1.3em;}

.lBox .boxMensaje.boxMensajeCustom {margin:0 0 20px 0;}



#lbox_show_container { text-align: left}  	
.lbox_text_principal{font-weight: bold;	text-decoration: underline;}
.exercise_block_lbox_show { margin: 1em;}
.exercise_block_lbox_show  ol, .exercise_block_lbox_show ul {list-style: square inside none; margin-left: 1em}	
.exercise_block_lbox_show  label:first-child {  font-weight: bold}	



/*----------------------------------------------------------- */
/*------------------------- ERRORS -------------------------- */
/*----------------------------------------------------------- */

.error {
	color: #ff0000;
}
 
.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	line-height:1.5;
	padding: 8px;
	margin: 16px;
}